.card-hover {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}

.bg-danger {
    color: white;

    .card-subtitle {
        color: white !important;
    }
}

.form-group{
    text-align:right;
    .form-control
    {
        float: right;
        width: 25%;
    }
}